*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #e5e5fa;
}

.pulse{
	width: 150px;
	height: 150px;
	background: linear-gradient(#8a82fb, #407ed7);
	position: absolute; 
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 50px;
	color: #ffffff;
	cursor: pointer;
	transform: translate3d(19%) skew(10deg, 2deg);
	box-shadow: 0 0 0px 4px #262626;
}

.pulse::before,
.pulse::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #8a82fb;
	border-radius: 50%;
	z-index: -1;
	opacity: 0.7;
}

.pulse:hover::before{
	animation: pulse 2s ease-in-out infinite;
}

.pulse:hover::after{
	animation: pulse 2s 1s ease-in-out infinite;
}

@keyframes pulse{
	100%{
		transform: scale(2.5);
		opacity: 0;
	}
}

