*{
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body{
	background: #146E6B;
}

.loader{
	position: absolute;
	top: 50%; left: 50%;
	width: 60px; height: 60px;
	/*background: red;*/
	margin: -30px -30px;
	transform: rotate(45deg);
	animation: rotateLoader 2s ease-in-out infinite;
}

.loader div{
	position: absolute;
	top: 0px; left: 0px;
	border: 4px solid #fff;
	width: 100%; height: 100%;
}

.loader div:nth-child(1){
	animation: div-1 2s ease-in-out infinite;
}

.loader div:nth-child(2){
	animation: div-2 2s ease-in-out infinite;
}

.loader div:nth-child(3){
	animation: div-3 2s ease-in-out infinite;
}

.loader div:nth-child(4){
	animation: div-4 2s ease-in-out infinite;
}

@keyframes div-1{
	0%, 100%{
		transform: translateY(0px);
	}

	50%{
		transform: translateY(-50px);
		border-color: #3e57f3;
	}
}

@keyframes div-2{
	0%, 100%{
		transform: translateX(0px);
	}

	50%{
		transform: translateX(60px);
		border-color: #CF44EA;
	}
}

@keyframes div-3{
	0%, 100%{
		transform: translateY(0px);
	}

	50%{
		transform: translateY(60px);
		border-color: #21EF63;
	}
}

@keyframes div-4{
	0%, 100%{
		transform: translateX(0px);
	}

	50%{
		transform: translateX(-60px);
		border-color: #ff3c41;
	}
}

 
@keyframes rotateLoader{
	0%{
		transform: rotate(45deg);
	}

	50%{
		transform: rotate(135deg);
	}

	100%{
		transform: rotate(225deg);
	}

	0%{
		transform: rotate(-760deg);
	}

	50%{
		transform: rotate(135deg);
	}

	100%{
		transform: rotate(-260deg);
	}
	50%{
		transform: rotate(360deg);
	}
}
