*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
}

body{
	background: #232463;
}

h1{
	text-align: center;
	font-family: "Arial Black";
	font-size: 11em;
	line-height: 1em;
	background: url(download.jpg);
	-webkit-background-clip-: text;
	-webkit-text-fill-color: transparent;
	animation: animate 10s linear infinite;
}

@keyframes animate{
	0%{
		background-position: 0 0;
	}

	100%{
		background-position: 100% 100%;
	}
}
